<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">

</head>
<body>
	<div class =container>
    	<h1>Deandra Scott</h1>
    	<p>Hailing from the parish of Kingston, with the University of the West Indies Hospital as her starting ground, Deandra Scott's life began. Watered with a love for dancing and music, she enjoys swaying to the whistling of the breeze. She gained sunlight and water from Lannaman's Preparatory and Immaculate Conception High, and is now temporarily rooted at the University of the West Indies. Actuarial Science is now her preferred food of choice with a touch of computing on the side. She will soon move on from UWI and use the food she consumed to help those in need. </p>

    	<p><em>~ Every flower must push through the dirt in order to get to bathe in sunlight. ~</em></p>
    </div>

</body>
</html> 